@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FoglihtenNo07';
  src: url('~/assets/fonts/FoglihtenNo07.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

